
<!--div class="container-fluid fox-text"-->
    <div class="about-pic shadow-border">
      <h1>
        <span>hello</span><br>
        there
      </h1>
      <%= image_tag "IMG_7978.JPG", class: "cover img-circle img-responsive" %>
      <p>
        Not too long ago, I decided to embark on an old dream: to become a programmer. It's been a very exciting journey playing with code, creating sites and analyzing data.
        I've also had great oportunity to work using Super 8 and old film cameras. On my free time, I enjoy learning new programming skills, cooking, playing my instruments and taking photos.
      </p>
    </div>
<!-- /div-->
