
    <div class="about-pic">
      <%= image_tag "IMG_8135.JPEG", class: "cover img-responsive" %>
      <p class="lead">
        <span><span class="redish">hello</span> there!</span>
      </p>
      <p>
        Two years ago I decided to realize an old dream: to become a programmer. It's been an exciting journey: studying code, analyzing data, and creating websites. To my surprise, I've found programming to be similar to playing music. As you improve your technical skills, the end product becomes more beautiful. Throughout my studies I continued to work at an architectural firm as a draftsperson, where I also had the opportunity to create publicity videos using Super 8 analog film and digital editing software. I also composed original music for several of the videos. In my free time, which as you may have guessed by now I've had very little of recently, I enjoy cooking, playing guitar and ukulele, and taking photographs.
      </p>
    </div>
