
    <div class="about-pic">
      <%= image_tag "IMG_8135.JPEG", class: "cover img-responsive" %>
      <p class="lead">
        <span><span class="redish">hello</span> there!</span>
      </p>
      <p>
        To my surprise, I've found studying code, analyzing data, and creating websites, similar to playing music. As I've honed my technical proficiencies, the results have become more concise and more beautiful. I also work at an architectural firm where in addition to drafting I create publicity videos using Super 8 analog film and digital editing software. For some of the videos, I even compose original music. Combining my knowledge of music, art, and psychology, with my new found loves of programming and data analysis, has been life-affirming.
      </p>
    </div>
