<div class="contact-page">
  <p class="lead-contact" align="center"> <span>drop me a note</span></p>
  <h2>Thank you for your message!</h2>
  <p>I'll get back at you soon as possible.</p>
  <div class="form-group line">
    <%= link_to "Back", root_path, class: "contact-thankyou" %>
  </div>
</div>
