<!-- Project Sidebar Widgets Column -->
<div class="col-md-4">

    <!-- Project (was search and now links to social media) Well
    <div class="well shadow-border">
      <span class="social social-google-plus"></span>


      -- Project search --
        <h4>Project Search</h4>
        <div class="input-group">
            <input type="text" class="form-control">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-search"></span>
            </button>
            </span>
        </div>
           --/.input-group --

    </div> -->

    <!-- Projects Categories Well -->
    <div class="sidebar-style">
        <h4>Categories</h4>
        <div class="row">
            <div class="col-lg-6">
                <ul class="list-unstyled">
                  <% categorizer(Tag.counts) do |tag| %>
                    <li>
                      <%= link_to tag.name, tag_path(tag.name), class: "label label-primary" %>
                      (<%= raw tag.count %>)
                    </li>
                  <% end %>
            </div>
            <!-- /.col-lg-6 -->
        </div>
        <!-- /.row -->
    </div>

    <!-- Side Widget Well -->
    <div class="sidebar-style">
        <h4>Bruno G. Tavares</h4>
        <p>Programmer - Musician - Artist</p>
        <br>
        <p>Brooklyn, NY</p>
        
        <p>
          Admin Login
        </p>
    </div>

</div>
