<!-- Project Sidebar Widgets Column -->
<div class="col-md-4">
    <!-- Projects Categories Well -->
    <div class="sidebar-style">
        <h4>Categories</h4>
        <div class="row">
            <div class="col-lg-7">
                <ul class="list-unstyled">
                  <% categorizer(Tag.counts) do |tag| %>
                    <li>
                      <%= link_to tag.name, tag_path(tag.name), class: "label label-primary" %>
                      (<%= raw tag.count %>)
                    </li>
                  <% end %>
            </div>
            <!-- /.col-lg-6 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- Side Widget Well -->
    <div class="sidebar-style">
        <%= image_tag "IMG_7794.JPEG", class: "thumb-blog img-circle img-responsive" %>
        <h4>Bruno G. Tavares</h4>
        <p>Programmer - Musician - Artist</p>
        <p><i class="fa fa-map-marker" aria-hidden="true"></i> Brooklyn, NY</p>
        <br>
        <div class="container find-me">
          <div class="row">
            <p>Find me here</p>
            <!-- Facebook -->
            <a onclick="javascript:window.open('https://github.com/bruno78', '_blank', 'width=800, height=500, top=200, left=300');void(0);"><i class="fa fa-github"></i></a>
            <!-- Gihub -->
            <a onclick="javascript:window.open('https://vimeo.com/bgtavares', '_blank', 'width=800, height=500, top=200, left=300');void(0);"><i class="fa fa-vimeo"></i></a>
            <!-- LinkedIn -->
            <a onclick="javascript:window.open('https://www.linkedin.com/in/bgtavares', '_blank', 'width=800, height=500, top=200, left=300');void(0);"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
    </div>

</div>
