/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
     padding-top: 70px;
     background-color: #fff;
 }
 @media screen and (max-width: 767px) {
   body { padding-top: 50px; }
   .page-header {
     padding-top: 10px;
   }
 }

.page-header {
  margin: 20px 0 15px;
  border-bottom: none;
  text-shadow: 0 1px 2px black;
  padding-left: 235px;
  a { color: #646464; }
  small {
    font-size: 15px;
    text-shadow: none;
   }
}

.col-md-8 {
  margin-bottom: 20px;
}

 footer {
     margin: 50px 0;
     color: #fff;
 }

 @font-face {
   font-family: 'Glyphicons Halflings';
   src: url('../assets/glyphicons-halflings-regular.eot');
   src: url('../assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
   url('../assets/glyphicons-halflings-regular.woff') format('woff'),
   url('../assets/glyphicons-halflings-regular.ttf') format('truetype'),
   url('../assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
 }

.navbar-inverse {
  box-shadow: -5px -1px 34px #000;
}

.sidebar-style {
  min-height: 20px;
  padding: 19px;
  padding-left: 0px;
  padding-right: 100px;
  margin-bottom: 20px;
  background-color: #fff;
  font-family: 'Muli', serif;
  font-size: 10pt;
  h4 {
    font-family: 'Muli'
  }
  li {
    margin-bottom: 2px;
  }
  .label-primary {
    background-color:  rgba(248, 50, 101, 0.86); // gba(248, 50, 101, 0.86); #f83265; rgba(221, 34, 0, 0.61);
    font-size: 11px;
  }
  a.label-primary:hover {
    transition: all 0.2s ease-in-out;
    background: #646464;
    text-decoration: none;
  }

}

@media (max-width: 992px) {
  .sidebar-style {
    padding-right: 19px;
  }
  .page-header {
    padding-left: 0;
  }

}
 #form-body {
   width: 100%;
   height: 602px;
 }

 #form-blurb {
   width: 100%;
   height: 100px;
 }

/* Setting up for videos at app/helper/posts/helpers/application_helper.rb */
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  width: 100%;
  height: auto;
  margin-bottom: 12px;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
}

.center {
  display: block;
  margin: 0 auto;
}

 @import 'posts';
 @import 'pygments';
 @import 'about';
 @import 'pagination';
 @import 'contacts';
