/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
     padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
     background: url("tweed.png");
 }
 @media screen and (max-width: 767px) {
   body { padding-top: 50px; }
   .page-header {
     padding-top: 10px;
   }
 }

.page-header {
  margin: 20px 0 15px;
  border-bottom: none;
  text-shadow: 0 1px 2px black;
}

.col-md-8 {
  margin-bottom: 20px;
}

/* POST FONTS */

#posts-font {
  font-family: 'Lora', serif;
  font-size: 13pt;
  h2, h1 {
      font-family: 'Playfair Display', serif;
      font-weight: 900;
      color: #5c5c5c; // #333;
      font-size: 40px;
     }
  #blurb, .lead {font-family: 'Playfair Display', serif;
          font-style: italic;
          font-size: 18px;
   }

   h2 > a, .lead > a {
     color: #5c5c5c; //#333;
   }
}



/*

#posts-font {
  font-family: 'Lora', serif;
  font-size: 13pt;
  h2, h1 {
      font-family: 'Playfair Display', serif;
      font-weight: 900;
      letter-spacing: -30;
       color: #333;
     }
  #blurb, .lead {font-family: 'Playfair Display', serif;
          font-style: italic;
          font-size: 18px;
   }

   h2 > a, .lead > a {
     color: #333;
   }
}

#posts-font {
  font-family: 'Source Serif Pro', serif;
  font-size: 13pt;
  h2, h1 {
      font-family: 'Source Serif Pro', sans-serif;
      font-weight: Bold;
      font-size: 45px;
      color: #333;
     }
  #blurb, .lead {font-family: 'Source Sans Pro', sans-serif;
          letter-spacing: 100;
          text-transform: uppercase;
          font-size: 18px;
   }

   h2 > a, .lead > a {
     color: #333;
   }
}

#posts-font {
  font-family: 'Source Serif Pro', serif;
  font-size: 13pt;
  h2, h1 {
      font-family: 'Source Serif Pro', sans-serif;
      font-weight: Bold;
      font-size: 45px;
      color: #333;
     }
  #blurb, .lead {font-family: 'Source Sans Pro', sans-serif;
          text-transform: uppercase;
          font-size: 18px;
   }

   h2 > a, .lead > a {
     color: #333;
   }
}

#posts-font {
  font-family: 'Roboto', sans-serif;
  font-size: 13pt;
  h2, h1 {
      font-family: 'Raleway', sans-serif;
      text-transform: uppercase;
      font-size: 40px;
      color: #333;
     }
  #blurb, .lead {
      font-family: 'Roboto Condensed', sans-serif;
      font-size: 18px;
   }

   h2 > a, .lead > a {
     color: #333;
   }
}

font-family: 'Lora', serif;
font-family: 'Playfair Display', serif;

font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Source Serif Pro', serif;
*/

 footer {
     margin: 50px 0;
     color: #fff;
 }

 @font-face {
   font-family: 'Glyphicons Halflings';
   src: url('../assets/glyphicons-halflings-regular.eot');
   src: url('../assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
   url('../assets/glyphicons-halflings-regular.woff') format('woff'),
   url('../assets/glyphicons-halflings-regular.ttf') format('truetype'),
   url('../assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
 }

  .shadow-border {
    border-radius: .35rem;
    box-shadow: 0 0 0 1px rgba(34,34,34,0.1),0 6px 12px rgba(34,34,34,0.1);;
  }

/*     box-shadow: 0 0 0 1px rgba(34,34,34,0.1),0 6px 12px rgba(34,34,34,0.1);
       box-shadow: 0 0 20px 7px rgba(0,0,0,0.075)    */

  .navbar-inverse {
    box-shadow: -5px -1px 34px #000;
  }

  #posts-font {
    background: #fff; // Alternative color  #FFF8ED F2F1EF EAEAE8 DDDDDB E2E2E0 E5E5E3 EDECEA
    padding-top: 1pt;
  }

 #form-body {
   width: 100%;
   height: 602px;
 }

 #form-blurb {
   width: 100%;
   height: 200px;
 }

/* Setting up for videos at app/helper/posts/helpers/application_helper.rb */

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  width: 100%;
  height: auto;
  margin-bottom: 12px;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
}






 /*
 To set up img size for the posts
 .container {
   width: 900px; try percentage if it doesn't work
 }

 .container img {
   max-height: 100%;
   max-width: 100%;
 }

 To set up the shadow and the box radius:
 border-radius: .35rem;
box-shadow: 0 0 20px 7px rgba(0,0,0,0.075);

body  {
    background-image: url('w3css.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

circle top


:hov


.cls

element.style {
}
.cd-nav-trigger circle {
    -webkit-transition: stroke-dashoffset 0.4s 0s;
    -moz-transition: stroke-dashoffset 0.4s 0s;
    transition: stroke-dashoffset 0.4s 0s;
}

circle navbar
<a href="#cd-nav" class="cd-nav-trigger">Menu
  <span class="cd-nav-icon"></span>

  <svg x="0px" y="0px" width="54px" height="54px" viewBox="0 0 54 54">
    <circle fill="transparent" stroke="#656e79" stroke-width="1" cx="27" cy="27" r="25" stroke-dasharray="157 157" stroke-dashoffset="157"></circle>
  </svg>
</a>
 */

 @import 'posts';
 @import 'pygments';
 @import 'about';
 @import 'pagination';
