// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.contact-page {
  margin: 0 auto;
  width: 550px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 15px;
  background-color: #fff;
  border-radius: 10px;
  #form-body {
    height: 200px;
  }
  h1 {
      font: 5em 'Playfair Display', serif;
      //font-style: italic;
      font-weight: 900; // font-size: 80px;
      color: #333; //#EAEAEA;
      text-transform: lowercase;
       // 0 3px 4px #333;
      text-shadow: 0 1px 2px black;
      span {
        color: #C15557;
        text-shadow:  0 12px 24px rgba(0,0,0,0.35);
      }
  }
  h2 {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 30px;
  }
  label {
    text-align: justify;
    color: #333; // #EDEDED;
    font: 15px/21px 'Muli', sans-serif;
    display: block;
    margin: auto;
  }
}

@media (max-width: 768px){
  .contact-page {
    width: auto;
    max-width: 420px;
    padding: 0 20px;
    padding-bottom: 15px;
    h1 {
      font-size: 60px;
    }
  }
}

@media (max-width: 480px){
  .contact-page {
    h1 {
      font-size: 55px;
    }
  }
}
