// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* POST FONTS */

a:hover {
  transition: all 0.2s ease-in-out;
  color: #f83265;
  text-decoration: none;
}

#post-body {
  line-height: 1.8;
}

#right-border {
  border-right: 1px solid #d6cfcf;
}
.posts-font {
  background: #fff;
  padding-top: 1pt;
  padding-left: 190pt;
  padding-right: 12pt;
  font-family: 'Muli', serif;
  font-size: 10pt;
  color: #646464;
  line-height: 1.8;
  .col-md-8 {
    margin-bottom: 20px;
  }
  #post-title {
    margin-top: 10px;
  }
  h2, h1 {
      font-family: 'Playfair Display', serif;
      font-weight: 900;
      color: #333;
      font-size: 32px;
      text-align: center;
     }
  h3 {
    @extend h2;
    font-size: 25px;
  }
  h4 {
    @extend h2;
    font-size: 20px;
  }
  .lead-tag {
    font-size: 10pt;
    a {
      color: #646464;
    }
    a:hover {
      transition: all 0.2s ease-in-out;
      color: #f83265;
      text-decoration: none;
    }
  }
  .time-stamp {
    font-size: 9pt;
    a:hover {
      transition: all 0.2s ease-in-out;
      color: #646464;
      text-decoration: underline;
    }
  }
  #blurb {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 21px;
    line-height: 28px;
    color: #333;
   }
  #front-blurb {
    @extend #blurb;
    font-size: 18px;
  }
  .lead {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 13pt;
    display: block;
    position: relative;
    text-align: center;
    z-index: 1; //padding-bottom: 38px;
    background: #fff; // #111
  }

  .lead {
    a {
      color: #646464;
    }
    a:hover {
      transition: all 0.2s ease-in-out;
      color: #f83265;
      text-decoration: none;
    }
  }

  .date:before { border-top: 1px solid #999; content: ""; position: absolute; top: 12px; left: 0; width: 100%; z-index: -1; } // #d6cfcf

  .lead:before { border-top: 1px solid #eee; content: ""; position: absolute; top: 12px; left: 0; width: 100%; z-index: -1; } // #d6cfcf
  .date { display: block; position: relative; text-align: center; z-index: 1; }

 .date span,
 .lead span { background: #fdfdfd; padding: 0 10px;}  //text-transform: uppercase;

   h2 > a {
     color: #333; //#333;
     //text-shadow:  0 12px 24px rgba(0,0,0,0.35);
   }
   h2 > a:hover {
     transition: all 0.2s ease-in-out;
     color: #646464;
     text-decoration: none;
   }
   a { color: #f83265;}
   p > a:hover {
     transition: all 0.2s ease-in-out;
     color: #646464;
     text-decoration: none;
   }
   .line { border-top: 1px solid #999; // #d6cfcf
     display: block;
     margin-top: 35px;
     margin-bottom: 70px;
     padding-top: 40px;
     position: relative;
   }
   .read-more {
     -moz-border-radius: 50%; -moz-transition: all 0.2s ease-in-out; -webkit-border-radius: 50%; -webkit-transition: all 0.2s ease-in-out;
     background: #646464; border-radius: 50%; border: 15px solid #fdfdfd; color: #fff; display: block; font-family: 'Muli', sans-serif; font-size: 10px; height: 80px; line-height: 52px; margin: -40px 0 0 -40px; position: absolute; bottom: 0px;
     left: 50%; text-align: center; text-transform: uppercase; width: 80px;
   }

.read-more:hover, .read-more:focus { background: #f83265; color: #fff; text-decoration: none; }

}

.share-me {
  width: 100%;
  text-align: center;
  p, i {
    margin-left: 5pt;
    margin-right: 5pt;
  }
  i {
    margin-bottom: 20px;
    font-size: 16px;
    color: #646464;
  }
  i:hover {
    transition: all 0.2s ease-in-out;
    color: #f83265;
    text-decoration: none;
  }
}

.thumb-blog {
  max-width: 100px;
  margin-left: 20px;
}
.find-me {
  @extend .share-me;
  text-align: left;
  .row {
    margin-left: -21px;
  }
  i {
    font-size: 13pt;
  }
  a {
    color: #646464;
  }
}
@media (max-width: 992px){
  .posts-font {
    padding-left: 12pt;
  }
  #right-border {
    border-right: none;
  }
}
